on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
jobs:
  deploy:
    environment: ${{ inputs.environment }}
    name: Deploying to Google Cloud
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - id: auth
      uses: google-github-actions/auth@v0
      with:
        token_format: 'access_token'
        workload_identity_provider: ${{ secrets.WORKLOAD_IDENTITY_PROVIDER }}
        service_account: ${{ secrets.SERVICE_ACCOUNT }}
        access_token_lifetime: '300s'
    - name: Prepare config
      run : |
        echo '${{ secrets.CONFIG }}' >config.yml
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"
    - name: Prepare dependencies
      run : |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
        poetry install
        poetry run pybabel compile -d translations
        poetry export -f requirements.txt --output requirements.txt --without-hashes
    - id: deploy
      uses: google-github-actions/deploy-appengine@v0
      with:
        deliverables: app.${{ inputs.environment }}.yaml
        version: ${{ inputs.environment }}
        promote: ${{ inputs.environment == 'production' }}
    - name: Test
      run: curl "${{ steps.deploy.outputs.url }}"
